= error_messages_for(@project)

= form.label :title
= form.text_field :title

= form.label :subtitle
= form.text_field :subtitle

= form.label :order
= form.text_field :order

= form.label :role
= form.text_field :role

= form.label :agency
= form.text_field :agency

= form.label :technologies
= form.text_area :technologies, :rows => "2"

= form.label :live_site
= form.text_field :live_site, :value => "http://"

= form.label :year
= form.text_field :year

= form.label :description
= form.text_area :description

= form.label :cover
= form.file_field :cover

%fieldset
  %legend= "Assets or screenshots"
  - form.fields_for :assets do |asset|
    %div.field
      - if asset.object.new_record?
        = asset.label :asset, "New image file"
        = asset.file_field :asset
      - else
        = asset.label :_destroy, "Delete"
        = asset.check_box :_destroy
        = link_to(image_tag(asset.object.asset.url(:thumb)), asset.object.asset.url(:original))
      = asset.label :caption, "Caption"
      = asset.text_field :caption
