- @page_title = 'Delete project'

- link_to("<< Back to List", {:action => 'list'}, :class => 'back-link')

%h2= 'Delete Project'

= form_for(:project, :url => {:action => 'destroy', :id => @project.id}) do |f|
  %p= 'Are you sure you want to permanently delete this project?'
  %p= @project.title
  = submit_tag("Delete Project")
