- title "Delete project: #{@project.title}"

= form_for(:project, :html => { :multipart => true }, :url => project_path(@project)) do
  %p= 'Are you sure you want to permanently delete this project?'
  = submit_tag("Destroy", :class => 'btn')
  = link_to("Cancel", projects_path, :class => 'btn secondary-btn')
