- @page_title = 'Delete project'

- link_to("<< Back to List", {:action => 'list'}, :class => 'back-link')

%h2
  = 'Edit project: '
  = @project.title

= form_for(:project, :url => {:action => 'update', :id => @project.id}) do |form|
  = render(:partial => "form", :locals => {:form => form})
  = submit_tag("Update Project")