= page_heading("Your projects")

%ul
  - @projects.each do |project|
    %li
      %h3= "#{project.title}"
      %h4= "#{project.subtitle}"
      %p.testimonial= project.description
      %ul.actions
        %li= link_to("Show", {:action => 'show', :id => project.id}, :class => 'show')
        %li= link_to("Edit", {:action => 'edit', :id => project.id}, :class => 'edit')
        %li= link_to("Delete", {:action => 'delete', :id => project.id}, :class => 'delete')

= link_to("Create a new project", {:action => 'new'}, :class => 'new')