= page_heading("Create a new project")

= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link')

%h2= 'New Project'

= form_for(:project, :url => {:action => 'create'}) do |form|
  = render(:partial => "form", :locals => {:form => form})
  = submit_tag("Create project")