- title "#{@project.title}"
- content_for :subtitle do
  = @project.subtitle

- if user_signed_in?
  %ul.menu
    %li= link_to("Edit", edit_project_path(@project.id), :class => 'btn')
    %li= link_to("Delete", delete_project_path(@project.id), :class => 'btn')

%p= @project.description

- if @project.cover_file_name != nil
  = image_tag @project.cover.url
  
