= page_heading(@project.title)

%h3= @project.subtitle
%p= @project.description

= image_tag @project.cover.url
= image_tag @project.cover.url(:medium)
= image_tag @project.cover.url(:thumb)

= link_to("<< Back to List", projects_path, :class => 'back-link')