- title "#{@project.title}"
- content_for :subtitle do
  = @project.subtitle

- if user_signed_in?
  %ul.menu
    %li= link_to("Edit", edit_project_path(@project.id), :class => 'btn')
    %li= link_to("Delete", delete_project_path(@project.id), :class => 'btn')

:markdown
  #{@project.description}

%dl
  - if @project.role?
    %dt= "Role"
    %dd= @project.role
  - if @project.technologies?
    %dt= "Tecnologies"
    %dd= @project.technologies
  - if @project.agency?
    %dt= "Agency"
    %dd= @project.agency
  - if @project.year?
    %dt= "Year"
    %dd= @project.year
  - if @project.live_site?
    %dt= "Live Site"
    %dd= @project.live_site

- @project.assets.each do |asset|
  - if asset.asset_file_name != nil
    %figure
      = image_tag asset.asset.url
      %figcaption= asset.caption
