- title "Change your password"

= form_for(:user, :as => User, :url => {:controller => 'passwords', :action => 'update'}, :html => { :method => :put }) do |f|
  = error_messages_for(@user)
  = f.hidden_field :reset_password_token

  %div.field
    = f.label :password
    = f.password_field :password

  %div.field
    = f.label :password_confirmation
    = f.password_field :password_confirmation

  = f.submit "Change my password", :class => "btn"
