- title "Contact"

= error_messages_for(@contact)

= form_for @contact, :url => contact_mail_path do |form|
  %div.field
    = form.label :name
    = form.text_field :name
  %div.field
    = form.label :email
    = form.text_field :email
  %div.field
    = form.label :message
    = form.text_area :message
  %input{:type => "submit", :value => "Send", :class => "btn"}

%section
  %h1= "Contact Information"
  %dl
    %dt= "Skype: "
    %dd= link_to("veronica.rebagliatte", "skype:veronica.rebagliatte?call")
    %dt= "Mail/IM: "
    %dd= link_to("veronica@rebagliatte.com", "mailto:veronica@rebagliatte.com")
    %dt= "vCard: "
    %dd= link_to("Download my vCard", "/docs/Veronica-Rebagliatte.vcf")

%section.networks  
  %h1= "Networks"
  %ul
    %li.linkedin= link_to("LinkedIn", "http://uy.linkedin.com/in/rebagliatte")
    %li.github= link_to("Github", "https://github.com/rebagliatte")
    %li.delicious= link_to("Delicious", "http://www.delicious.com/rebagliatte")
    %li.behance= link_to("Behance", "http://www.behance.net/rebagliatte")
    %li.last-fm= link_to("LastFM", "http://www.lastfm.es/user/rebagliatte")
    %li.google= link_to("Google+", "https://plus.google.com/102594733146864468374/posts")    
    %li.facebook= link_to("Facebook", "http://www.facebook.com/rebagliatte")
    %li.twitter= link_to("Twitter", "http://www.twitter.com/rebagliatte")
    %li.flickr= link_to("Flickr", "http://www.flickr.com/photos/rebagliatte/")
    %li.hidden= link_to("Zerply", "http://www.zerply.com/profile/rebagliatte")
    %li.hidden= link_to("Dribble", "http://dribbble.com/rebagliatte")
    %li.hidden= link_to("Chamber", "http://chamber.com/vernica-rebagliatte")
    %li.hidden= link_to("YouTube", "http://www.youtube.com/vrebagliatte")
    %li.hidden= link_to("Scribd", "http://www.scribd.com/rebagliatte")
    %li.hidden= link_to("Cpluv", "http://www.computerlove.net/profile/users/rebagliatte")
