- title "Contact"

= error_messages_for(@contact)

= form_for @contact, :url => contact_mail_path do |form|
  = form.label :name
  = form.text_field :name
  = form.label :email
  = form.text_field :email
  = form.label :message
  = form.text_area :message
  %input{:type => "submit", :value => "Send", :class => "btn"}

%section
  %h1= "Contact Information"
  %dl
    %dt= "Skype: "
    %dd= link_to("veronica.rebagliatte", "skype:veronica.rebagliatte?call", :title => 'Call me!')
    %dt= "Mail/IM: "
    %dd= link_to("veronica@rebagliatte.com", "mailto:veronica@rebagliatte.com", :title => 'Send me an email')
    %dt= "vCard: "
    %dd= link_to("Download my vCard", "/docs/Veronica Rebagliatte.vcf", :title => 'Add me as a contact')

%section.networks
  %h1= "Networks"
  %ul
    %li.linkedin= link_to(content_tag(:span, 'LinkedIn'), "http://uy.linkedin.com/in/rebagliatte", :title => 'LinkedIn')
    %li.github= link_to(content_tag(:span, 'Github'), "https://github.com/rebagliatte", :title => 'Github')
    %li.delicious= link_to(content_tag(:span, 'Delicious'), "http://www.delicious.com/rebagliatte", :title => 'Delicious')
    %li.behance= link_to(content_tag(:span, 'Behance'), "http://www.behance.net/rebagliatte", :title => 'Behance')
    %li.google= link_to(content_tag(:span, 'Google+'), "https://plus.google.com/102594733146864468374/posts", :title => 'Google+')
    %li.facebook= link_to(content_tag(:span, 'Facebook'), "http://www.facebook.com/rebagliatte", :title => 'Facebook')
    %li.twitter= link_to(content_tag(:span, 'Twitter'), "http://www.twitter.com/rebagliatte", :title => 'Twitter')
    %li.flickr= link_to(content_tag(:span, 'Flickr'), "http://www.flickr.com/photos/rebagliatte/", :title => 'Flickr')
    %li.hidden= link_to(content_tag(:span, 'Zerply'), "http://www.zerply.com/profile/rebagliatte", :title => 'Zerply')
    %li.hidden= link_to(content_tag(:span, 'Dribble'), "http://dribbble.com/rebagliatte", :title => 'Dribble')
    %li.hidden= link_to(content_tag(:span, 'Chamber'), "http://chamber.com/vernica-rebagliatte", :title => 'Chamber`')
    %li.hidden= link_to(content_tag(:span, 'YouTube'), "http://www.youtube.com/vrebagliatte", :title => 'YouTube')
    %li.hidden= link_to(content_tag(:span, 'Scribd'), "http://www.scribd.com/rebagliatte", :title => 'Scribd')
    %li.hidden= link_to(content_tag(:span, 'Cpluv'), "http://www.computerlove.net/profile/users/rebagliatte", :title => 'Cpluv')
    %li.hidden= link_to(content_tag(:span, 'LastFM'), "http://www.lastfm.es/user/rebagliatte", :title => 'LastFM')
