!!!
%html{'xmlns' => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en'}
  %head
    %title= yield(:title) || "A Portfolio Website"
    = stylesheet_link_tag "application"
    = javascript_include_tag "portfolio"
    = csrf_meta_tag

  %body{:class => @bodyclass}
    %div#sidebar
      %h1= 'Portfolio Site'

    %div#content



      = yield

    %div#footer