!!! 5
%html{ :lang => "en"}
  %head
    %title= "Vero Rebagliatte - #{yield(:title)!="" ? yield(:title) : "My portfolio site"}"
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1; charset=utf-8"}
    %meta{ :content => "Online Portfolio of Vero Rebagliatte", :name => "description" }
    %meta{ :content => "Vero Rebagliatte", :name => "author" }
    %link{ :href => "http://fonts.googleapis.com/css?family=Droid+Sans:700", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag "application"
    = javascript_include_tag "modernizr-1.7.min"
    = favicon_link_tag "favicon.png"
    -# = javascript_include_tag :all
    = csrf_meta_tag
  %body{:class => "#{params[:controller]}-#{params[:action]}"}
    - if user_signed_in?
      %p.authentication
        = "Logged in as "
        %strong= "#{current_user.username}."
        = link_to " Change your password", edit_user_password_path
        = link_to "Logout", destroy_user_session_path

    %header
      %a{:href=> "#{root_path}"}
        %hgroup
          %h1= "Vero Rebagliatte"
          %h2= "UI Designer & Developer"
      %nav
        %h1.hidden= "Main navigation"
        %ul
          %li
            = link_to_unless_current("Portfolio", projects_path)
            %ul
              - @project_list.each do |project|
                %li= link_to_unless_current(project.title, project_path(project.id))
          %li= link_to_unless_current("About me", about_path)
          %li= link_to_unless_current("Contact", contact_path)

    %section
      - if (yield(:subtitle)=="")
        %h1= yield(:title)
      -else

        %hgroup
          %h1
            %a{:href => "#{projects_path}", :title => "Back"}
              ="&gt;".html_safe
            = yield(:title)
          %h2= yield(:subtitle)
      - flash.each do |name, msg|
        = content_tag :div, msg, :class => "message flash-#{name}"
      = yield

    %footer.main
      %p
        = "This site was lovingly crafted in "
        = link_to("Ruby on Rails", "http://rubyonrails.org/")
        = " by "
        = link_to_unless_current("Vero Rebagliatte", root_path)
