!!!
%html{'xmlns' => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en'}
  %head
    %title= "Your portfolio site - " + yield(:title) || "Show off a little bit!"
    = stylesheet_link_tag "application"
    -# = javascript_include_tag :all
    = csrf_meta_tag

  %body
    - if user_signed_in?
      %p#authentication
        = "Logged in as #{current_user.email}"
        = link_to "Logout", destroy_user_session_path
      
    %div#sidebar
      %h1
        = link_to_unless_current("Your portfolio site", root_path)
      %ul#navigation
        %li= link_to_unless_current("About you", about_path)
        %li= link_to_unless_current("Your projects", projects_path)
        %li= link_to_unless_current("Contact", contact_path)

    %div#content
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"

      %h1= yield(:title)
      = yield

      