!!! 5
%html{ :lang => "en"}
  %head
    %title= "Vero Rebagliatte - #{yield(:title)!="" ? yield(:title) : "My portfolio site"}"
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1; charset=utf-8"}
    %meta{"charset" => "utf-8"}
    %meta{ :content => "Online Portfolio of Vero Rebagliatte", :name => "description" }
    %meta{ :content => "Vero Rebagliatte", :name => "author" }
    = stylesheet_link_tag "html5-reset", "application"
    = favicon_link_tag "favicon.png"
    = javascript_include_tag "modernizr-1.7.min"
    -# = javascript_include_tag :all
    = csrf_meta_tag
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22772506-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body{:class => "#{params[:controller]}-#{params[:action]}"}
    - if user_signed_in?
      %p.authentication
        = "Logged in as "
        %strong= "#{current_user.username}."
        = link_to " Change your password", edit_user_password_path
        = link_to "Logout", destroy_user_session_path

    %header
      %hgroup
        %a{:href=> "#{root_path}"}
          %h1= "Vero Rebagliatte"
          %h2= "Designer & Developer"
      %nav
        %h1.hidden= "Main navigation"
        %ul
          %li
            = link_to_unless_current("Portfolio", projects_path)
            %ul
              - @project_list.each do |project|
                %li= link_to_unless_current(project.title, project_path(project.id))
          %li= link_to_unless_current("About me", about_path)
          %li= link_to_unless_current("Contact", contact_path)

    %section.main
      - if (yield(:subtitle)=="")
        %h1= yield(:title)
      -else

        %hgroup
          %h1
            %a{:href => "#{projects_path}", :title => "Back"}
              ="&gt;".html_safe
            = yield(:title)
          %h2= yield(:subtitle)
      - flash.each do |name, msg|
        = content_tag :div, msg, :class => "message flash-#{name}"
      = yield

    %footer.main
      %p
        = "This site was lovingly crafted in "
        = link_to("Ruby on Rails", "http://rubyonrails.org/")
        = " by "
        = link_to_unless_current("Vero Rebagliatte", root_path)
        = " and is hosted at "
        = link_to("Heroku.", "http://www.heroku.com/")
        = " Wanna "
        = link_to("fork it?", "https://github.com/rebagliatte")
